[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"

[tool.poetry]
name = "antsibull-changelog"
version = "0.7.0"
description = "Changelog tool for Ansible-base and Ansible collections"
authors = ["Felix Fontein <felix@fontein.de>", "Toshio Kuratomi <a.badger@gmail.com>", "Matt Clay <matt@mystile.com>"]
license = "GPL-3.0-or-later"
readme = "README.md"
repository = "https://github.com/ansible-community/antsibull-changelog"
documentation = "https://github.com/ansible-community/antsibull-changelog/tree/main/docs/"
packages = [
    { include = "antsibull_changelog" },
    { include = "tests", format = "sdist" }
]

[tool.poetry.urls]
"Bug tracker" = "https://github.com/ansible-community/antsibull-changelog/issues"
"Changelog" = "https://github.com/ansible-community/antsibull-changelog/tree/main/CHANGELOG.rst"

[tool.poetry.scripts]
antsibull-changelog = "antsibull_changelog.cli:main"

[tool.poetry.dependencies]
python = "^3.6.0"
packaging = "*"
semantic_version = "*"
docutils = "*"
rstcheck = "^3"
PyYAML = "*"

[tool.poetry.dev-dependencies]
pytest = "*"
pytest-cov = "*"
flake8 = "*"
codecov = "*"
pyre-check = "*"
pylint = "*"
mypy = "*"
mock = "*"

[tool.isort]
line_length = 100
multi_line_output = 0
balanced_wrapping = true
