---
# GNU General Public License v3.0+ (see LICENSES/GPL-3.0-or-later.txt or
# https://www.gnu.org/licenses/gpl-3.0.txt)
# SPDX-License-Identifier: GPL-3.0-or-later
# SPDX-FileCopyrightText: 2023 Maxwell G <maxwell@gtmx.me

name: nox
'on':
  push:
    branches: [main]
  pull_request:
    branches: [main]
  # Run once per week (Monday at 04:00 UTC)
  schedule:
    - cron: '0 4 * * 1'
  workflow_dispatch:

env:
  FORCE_COLOR: "1"

jobs:
  nox:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - session: test
            python-versions: "3.9, 3.10, 3.11, 3.12, 3.13, 3.14"
            force-python: ""
            codecov: true
            packages: ""

          - session: integration
            python-versions: "3.14"
            force-python: "3.14"
            codecov: true
            packages: ""

          - session: lint
            python-versions: "3.14"
            force-python: "3.14"
            codecov: false
            packages: ""
    name: "Run nox ${{ matrix.session }} session"
    steps:
      - name: Check out antsibull-changelog
        uses: actions/checkout@v5
        with:
          path: antsibull-changelog
          persist-credentials: false
      - name: Check out dependent project antsibull-docutils
        uses: actions/checkout@v5
        with:
          repository: ansible-community/antsibull-docutils
          path: antsibull-docutils
          persist-credentials: false
      - name: Check out dependent project antsibull-fileutils
        uses: actions/checkout@v5
        with:
          repository: ansible-community/antsibull-fileutils
          path: antsibull-fileutils
          persist-credentials: false
      - name: Install extra packages
        if: "matrix.packages != ''"
        run: |
          sudo apt-get install -y ${{ matrix.packages }}
      - name: Setup nox
        uses: wntrblm/nox@2025.05.01
        with:
          python-versions: "${{ matrix.python-versions }}"
      - name: Run nox
        uses: ansible-community/github-action-run-nox@v1
        with:
          sessions: ${{ matrix.session }}
          force-pythons: ${{ matrix.force-python }}
          working-directory: antsibull-changelog
          codecov: ${{ matrix.codecov }}
          codecov-session: coverage
          codecov-token: ${{ secrets.CODECOV_TOKEN }}
